@use "mixins" as *;
@use "var" as *;

@include b("dialog") {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: #00000073;

  @include e("body") {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
}
.do-scrolling-effect {
  overflow: hidden;
}
// element plus的格子滤镜
.mask {
  background-image: radial-gradient(transparent 1px, #fff 1px);
  background-size: 4px 4px;
  backdrop-filter: saturate(50%) blur(4px);
}
